In [17]:
import pandas as pd

In [105]:
def json_to_js(json_, name):
    f = open(f"{name}.js", "w+")
    f.write(f"var {name} = ")
    f.write(str(json_))

    f.write(";")

    f.close()

In [19]:
df = pd.read_csv("Trade_DetailedTradeMatrix_E_All_Data_(Normalized).csv", encoding="latin_1")

In [20]:
df.head()

,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,4,Algeria,230,"Cashew nuts, shelled",5910,Export Quantity,2016,2016,tonnes,3.0,*
1,2,Afghanistan,4,Algeria,230,"Cashew nuts, shelled",5922,Export Value,2016,2016,1000 US$,23.0,*
2,2,Afghanistan,4,Algeria,1293,Crude materials,5922,Export Value,2015,2015,1000 US$,1.0,*
3,2,Afghanistan,4,Algeria,1293,Crude materials,5922,Export Value,2016,2016,1000 US$,1.0,*
4,2,Afghanistan,4,Algeria,1293,Crude materials,5922,Export Value,2017,2017,1000 US$,5.0,R

In [21]:
honey = df[df["Item"] == "Honey, natural"]

In [32]:
honey = honey[~(honey == 0).any(axis=1)]

In [43]:
honey = honey[(honey["Unit"] == "tonnes") & (honey["Year"] == 2014) & (honey["Element"] == "Export Quantity")]

In [44]:
honey.head()

,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
13508,2,Afghanistan,225,United Arab Emirates,1182,"Honey, natural",5910,Export Quantity,2014,2014,tonnes,1.0,*
213715,9,Argentina,10,Australia,1182,"Honey, natural",5910,Export Quantity,2014,2014,tonnes,1061.0,NaN
220803,9,Argentina,255,Belgium,1182,"Honey, natural",5910,Export Quantity,2014,2014,tonnes,65.0,NaN
228370,9,Argentina,19,Bolivia (Plurinational State of),1182,"Honey, natural",5910,Export Quantity,2014,2014,tonnes,48.0,NaN
254081,9,Argentina,33,Canada,1182,"Honey, natural",5910,Export Quantity,2014,2014,tonnes,1229.0,NaN

In [60]:
value_country = honey[["Reporter Countries", "Value"]].groupby(["Reporter Countries"]).agg('sum')

In [169]:
honey[honey["Value"] == honey["Value"].max()]

,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
477463,9,Argentina,231,United States of America,1182,"Honey, natural",5910,Export Quantity,2014,2014,tonnes,35911.0,NaN

In [78]:
value_dict = value_country.to_dict()["Value"]

In [31]:
honey["Value"].unique()

array([7.000e+00, 1.000e+00, 4.500e+01, ..., 6.835e+03, 1.915e+03,
       5.148e+03])

In [56]:
import json

capitals = json.loads(open('capitals.json').read())
capitals = capitals["features"]
# read file
config = json.loads(open('countries.geo.json').read())
config = config["features"]

In [58]:
cap_dict = {}
for elem in capitals:
    cap_dict[elem["properties"]["country"]] = elem["geometry"]["coordinates"]

In [162]:
transforms = {
    "The Bahamas": "Bahamas",
    "Republic of the Congo": "Congo Republic",
    "Democratic Republic of the Congo": "Congo Democratic Republic",
    "Guinea Bissau":"Guinea-Bissau",
    "South Korea": "Korea South",
    "North Korea": "Korea North",
    "Republic of Serbia" : "Serbia",
    "United Republic of Tanzania" : "Tanzania",
    "United States of America" : "United States"     
             }

transforms_pd = {
    "The Bahamas": "Bahamas",
    "Ivory Coast": "Côte d'Ivoire",
    "Republic of Serbia" : "Serbia",
    "Republic of the Congo": "Congo Republic",
    "Democratic Republic of the Congo": "Congo Democratic Republic",
    "Guinea Bissau":"Guinea-Bissau",
    "South Korea": "Republic of Korea",
    "North Korea": "Korea North",
    "Dominican Republic":'Dominica',
    "Russia" : "Russian Federation",
    "Czech Republic": "Czechia",
    "Bolivia" : "Bolivia (Plurinational State of)",
    "China" : "China, mainland",
    "Macedonia" : "North Macedonia",
    "Iran" : "Iran (Islamic Republic of)",
    "East Timor": "Timor-Leste",
    "Taiwan" : "China, Taiwan Province of",
    "Moldova" : "Republic of Moldova",
    "Vietnam": "Viet Nam",
    "Syria":"Syrian Arab Republic",
    "Brunei":"Brunei Darussalam"
             }

inv_transforms_pd = {v: k for k, v in transforms_pd.items()}

def transform(country, transforms):
    return transforms.get(country, country)

In [160]:
existing_country

['Afghanistan',
 'Angola',
 'Albania',
 'United Arab Emirates',
 'Argentina',
 'Armenia',
 'Antarctica',
 'French Southern and Antarctic Lands',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Burundi',
 'Belgium',
 'Benin',
 'Burkina Faso',
 'Bangladesh',
 'Bulgaria',
 'The Bahamas',
 'Bosnia and Herzegovina',
 'Belarus',
 'Belize',
 'Bermuda',
 'Bolivia',
 'Brazil',
 'Brunei',
 'Bhutan',
 'Botswana',
 'Central African Republic',
 'Canada',
 'Switzerland',
 'Chile',
 'China',
 'Ivory Coast',
 'Cameroon',
 'Democratic Republic of the Congo',
 'Republic of the Congo',
 'Colombia',
 'Costa Rica',
 'Cuba',
 'Northern Cyprus',
 'Cyprus',
 'Czech Republic',
 'Germany',
 'Djibouti',
 'Denmark',
 'Dominican Republic',
 'Algeria',
 'Ecuador',
 'Egypt',
 'Eritrea',
 'Spain',
 'Estonia',
 'Ethiopia',
 'Finland',
 'Fiji',
 'Falkland Islands',
 'France',
 'Gabon',
 'United Kingdom',
 'Georgia',
 'Ghana',
 'Guinea',
 'Gambia',
 'Guinea Bissau',
 'Equatorial Guinea',
 'Greece',
 'Greenland',
 'Guatemala',
 'French Guiana',
 'Guyana',
 'Honduras',
 'Croatia',
 'Haiti',
 'Hungary',
 'Indonesia',
 'India',
 'Ireland',
 'Iran',
 'Iraq',
 'Iceland',
 'Israel',
 'Italy',
 'Jamaica',
 'Jordan',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Kyrgyzstan',
 'Cambodia',
 'South Korea',
 'Kosovo',
 'Kuwait',
 'Laos',
 'Lebanon',
 'Liberia',
 'Libya',
 'Sri Lanka',
 'Lesotho',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Morocco',
 'Moldova',
 'Madagascar',
 'Mexico',
 'Macedonia',
 'Mali',
 'Malta',
 'Myanmar',
 'Montenegro',
 'Mongolia',
 'Mozambique',
 'Mauritania',
 'Malawi',
 'Malaysia',
 'Namibia',
 'New Caledonia',
 'Niger',
 'Nigeria',
 'Nicaragua',
 'Netherlands',
 'Norway',
 'Nepal',
 'New Zealand',
 'Oman',
 'Pakistan',
 'Panama',
 'Peru',
 'Philippines',
 'Papua New Guinea',
 'Poland',
 'Puerto Rico',
 'North Korea',
 'Portugal',
 'Paraguay',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Western Sahara',
 'Saudi Arabia',
 'Sudan',
 'South Sudan',
 'Senegal',
 'Solomon Islands',
 'Sierra Leone',
 'El Salvador',
 'Somaliland',
 'Somalia',
 'Republic of Serbia',
 'Suriname',
 'Slovakia',
 'Slovenia',
 'Sweden',
 'Swaziland',
 'Syria',
 'Chad',
 'Togo',
 'Thailand',
 'Tajikistan',
 'Turkmenistan',
 'East Timor',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Taiwan',
 'United Republic of Tanzania',
 'Uganda',
 'Ukraine',
 'Uruguay',
 'United States of America',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'Vanuatu',
 'West Bank',
 'Yemen',
 'South Africa',
 'Zambia',
 'Zimbabwe']

In [164]:
countries = []
existing_country = []
for elem in config:
    country = elem["properties"]["name"]
    existing_country.append(country)
    if (transform(country, transforms) not in cap_dict):
        #print(country+" has capital")
        continue
    elif transform(country, transforms_pd) not in value_dict :
        #print(country + " not export")
        elem["location"] = cap_dict[transform(country, transforms)]
    else:
        elem["location"] = cap_dict[transform(country, transforms)]
        elem["value"] = value_dict[transform(country, transforms_pd)]
    countries.append(elem)

French Southern and Antarctic Lands has capital
Northern Cyprus has capital
French Guiana has capital
Kosovo has capital
South Sudan has capital
Somaliland has capital
East Timor has capital
West Bank has capital

In [166]:
exp = honey[["Reporter Countries", "Partner Countries", "Value"]]
exportations = []
for i in exp.values.tolist():
    if transform(i[0], inv_transforms_pd) in existing_country and transform(i[1], inv_transforms_pd) in existing_country:
        exportations.append({"from":transform(i[0], inv_transforms_pd), "to":transform(i[1], inv_transforms_pd), "Value":i[2],})
    else :
        print (i[0], i[1])

Australia Bahrain
Australia China, Hong Kong SAR
Australia Christmas Island
Australia Maldives
Australia Mauritius
Australia Nauru
Australia Singapore
Austria Bahrain
Austria China, Hong Kong SAR
Austria Maldives
Austria Singapore
Bahrain Saudi Arabia
Belgium China, Hong Kong SAR
Belgium Maldives
Belgium Seychelles
Belgium Singapore
Bosnia and Herzegovina Unspecified Area
Brazil China, Hong Kong SAR
Cabo Verde Netherlands
Canada Barbados
Canada China, Hong Kong SAR
Canada Saint Pierre and Miquelon
Canada Singapore
China, Hong Kong SAR China, Macao SAR
China, Hong Kong SAR China, mainland
China, Hong Kong SAR China, Taiwan Province of
China, Hong Kong SAR Republic of Korea
China, Hong Kong SAR United States of America
China, Hong Kong SAR Viet Nam
China, Macao SAR China, Hong Kong SAR
China, mainland Bahrain
China, mainland China, Hong Kong SAR
China, mainland Maldives
China, mainland Mauritius
China, mainland Singapore
China, Taiwan Province of China, Hong Kong SAR
China, Taiwan Province of China, Macao SAR
China, Taiwan Province of Singapore
Côte d'Ivoire Unspecified Area
Croatia Unspecified Area
Denmark China, Hong Kong SAR
Denmark Faroe Islands
Egypt Bahrain
Egypt China, Hong Kong SAR
Egypt Maldives
Egypt Seychelles
Eswatini Qatar
Ethiopia Bahrain
France Bahrain
France China, Hong Kong SAR
France Congo
France French Polynesia
France Maldives
France Mauritius
France Saint Pierre and Miquelon
France Seychelles
France Singapore
France Unspecified Area
France Wallis and Futuna Islands
Georgia China, Hong Kong SAR
Germany Bahrain
Germany China, Hong Kong SAR
Germany Palestine
Germany Singapore
Germany Unspecified Area
Ghana Antigua and Barbuda
Greece Bahrain
Greece China, Hong Kong SAR
Greece Singapore
Grenada Barbados
Guyana Barbados
Hungary China, Hong Kong SAR
Hungary Singapore
India Bahrain
India China, Hong Kong SAR
India Maldives
India Mauritius
India Seychelles
India Singapore
Indonesia China, Hong Kong SAR
Indonesia Singapore
Iran (Islamic Republic of) Bahrain
Iran (Islamic Republic of) Mauritius
Ireland China, Hong Kong SAR
Italy Bahrain
Italy China, Hong Kong SAR
Italy Congo
Italy Maldives
Italy Singapore
Italy Unspecified Area
Japan China, Hong Kong SAR
Japan Singapore
Jordan Unspecified Area
Kuwait Bahrain
Lebanon Bahrain
Lebanon Congo
Madagascar Comoros
Madagascar Mauritius
Malaysia Bahrain
Malaysia China, Hong Kong SAR
Malaysia Maldives
Malaysia Singapore
Mauritius Seychelles
Mexico China, Hong Kong SAR
Mexico Unspecified Area
Mexico Venezuela (Bolivarian Republic of)
Morocco Unspecified Area
Netherlands China, Hong Kong SAR
Netherlands Unspecified Area
New Zealand Bahrain
New Zealand China, Hong Kong SAR
New Zealand China, Macao SAR
New Zealand Cook Islands
New Zealand French Polynesia
New Zealand Singapore
New Zealand Tonga
Oman Bahrain
Pakistan Mauritius
Pakistan Singapore
Poland Unspecified Area
Portugal Cabo Verde
Portugal China, Macao SAR
Portugal Sao Tome and Principe
Qatar Bahrain
Republic of Korea China, Hong Kong SAR
Romania Singapore
Russian Federation Unspecified Area
Saudi Arabia Bahrain
Saudi Arabia Mauritius
Saudi Arabia Singapore
Singapore Australia
Singapore Bangladesh
Singapore Brunei Darussalam
Singapore Cambodia
Singapore China, Hong Kong SAR
Singapore China, mainland
Singapore India
Singapore Indonesia
Singapore Israel
Singapore Kiribati
Singapore Malaysia
Singapore Maldives
Singapore Mauritius
Singapore Myanmar
Singapore Philippines
Singapore Republic of Korea
Singapore Seychelles
Singapore Sri Lanka
Singapore Timor-Leste
Singapore Viet Nam
South Africa Eswatini
South Africa Mauritius
Spain Bahrain
Spain Cabo Verde
Spain China, Hong Kong SAR
Spain Maldives
Spain Mauritius
Spain Unspecified Area
Sri Lanka Maldives
Sweden China, Hong Kong SAR
Switzerland Bahrain
Switzerland China, Hong Kong SAR
Switzerland Maldives
Switzerland Singapore
Thailand China, Hong Kong SAR
Thailand Guam
Thailand Lao People's Democratic Republic
Thailand Singapore
Turkey China, Hong Kong SAR
Turkey Singapore
Turkey Unspecified Area
United Arab Emirates Bahrain
United Arab Emirates China, Hong Kong SAR
United Arab Emirates Maldives
United Arab Emirates Mauritius
United Arab Emirates Singapore
United Arab Emirates Unspecified Area
United Kingdom Barbados
United Kingdom China, Hong Kong SAR
United Kingdom China, Macao SAR
United Kingdom Singapore
United States of America Aruba
United States of America Bahrain
United States of America Barbados
United States of America Cayman Islands
United States of America China, Hong Kong SAR
United States of America Singapore
Yemen Bahrain
Yemen Singapore
Zambia Mauritius

In [167]:
json_to_js(countries, "countries")
json_to_js(exportations, "exportations")

In [46]:
x = [p[0] for p in config]
y = [p[1] for p in config]
centroid = (sum(x) / len(points), sum(y) / len(points))

KeyError: 0